@page
@model UpdateModel
@{
    ViewData["Title"] = "Редактирование дела в списке";
}

<div class="text-center">
    <h1 class="display-4">Редактирование дела в списке</h1>
    <form method="post" class="text-left">
        <p>
            <label for="name"><b>Тема:</b></label><br>
            <input type="text" name="name" id="name" value="@Model.updatingItem.name" class="w-100" required>
        </p>
        <p>
            <label for="done"><b>Выполнено?</b></label>
            <input type="checkbox" name="done" id="done" value="true" checked="@Model.updatingItem.done">
        </p>
        <p>
            <label for="priority"><b>Приоритет:</b></label><br>
            <input type="number" name="priority" id="priority" value="@Model.updatingItem.priority">
        </p>
        <input type="submit" value="Сохранить изменения">
    </form>
</div>